body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.btn-central {
  border-radius: 16.5px;
  background-color: #fff;
  border: solid 1.8px #406eb3;
  color: #406eb3;
}

.btn-central:hover {
  border-radius: 16.5px;
  background-color: #fff;
  border: solid 1.8px #406eb3;
  color: #406eb3;
}

.btn-atendimento {
  border-radius: 16.5px;
  background-color: #fff;
  border: solid 1.8px #406eb3;
  color: #406eb3;
}

.btn-atendimento:hover {
  border-radius: 16.5px;
  background-color: #fff;
  border: solid 1.8px #406eb3;
  color: #406eb3;
}

.btn-ecred {
  border-radius: 14px;
  color: #fff;
  background-color: #00af7d;
  border-color: #00af7d;
}

.btn-ecred:hover {
  color: #fff;
  background-color: #00855D;
  border-color: #00855D;
}

header.lno {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 4rem 0;
  width: 1920px;
  height: 466px;
  background-image: linear-gradient(to top, #006ab2, #416eb3);
  border-radius: 0 0 100% 100%;
  width: 130%;
  -webkit-transform: translate(-12%, 0);
  transform: translate(-12%, 0);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 575px) {
  header.lno .header-title {
    text-align: left;
    padding: 0 61px;
  }
}

header.lno a {
  color: #fff;
  background-color: #cc1470;
  border-color: #cc1470;
  border-radius: 16.6px;
}

header.lno a:hover {
  color: #fff;
  background-color: #b51263;
  border-color: #b51263;
}

@media (max-width: 575px) {
  header.lno {
    height: 610px;
  }
}

@media (max-width: 970px) {
  header.lno {
    position: static;
  }
}

.titulo {
  font-size: 29px;
  font-weight: 700;
}

.subTitulo {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.68;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 10px;
}

@media (max-width: 575px) {
  .cpf-form .cpf-cta {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .cpf-form .cpf-cta a.btn {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .cpf-form {
    margin-top: 20px;
  }
}

.divCpf {
  padding: 20px;
  border-radius: 15px;
}

.divCpf input {
  border: none;
}

.discount-price {
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .discount-price {
    font-size: .7em;
    padding: 0 35px;
  }
}

.lbl-desconto {
  font-weight: 900;
  line-height: 0.88;
  color: #f4d337;
}

@media (max-width: 575px) {
  .lbl-desconto {
    font-size: 2.5em;
  }
}

.info-desconto {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 55px;
  margin-top: 10px;
}

.titulo-empresa {
  font-size: 25.5px;
  color: #7D7D81;
  margin-bottom: 25px;
}

.divEmpresa {
  background-color: #ffffff;
  box-shadow: 0px 5px 35px 0 rgba(35, 29, 40, 0.05);
  border-radius: 15px;
  border: none;
  border-bottom: 5px solid #416eb3;
  width: 255px;
  height: 229px;
}

@media (max-width: 575px) {
  .divEmpresa {
    margin-top: 15px;
  }
}

@media (max-width: 970px) {
  .divEmpresa {
    width: 127px;
    height: 123px;
  }
}

.info-section-empresa {
  font-size: 10px;
  color: rgba(65, 64, 66, 0.7);
}

.section-empresa {
  padding-top: 40px;
  padding-bottom: 50px;
}

.section-empresa .row a {
  color: #fff;
  background-color: #cc1470;
  border-color: #cc1470;
  border-radius: 16.6px;
}

.section-empresa .row a:hover {
  color: #fff;
  background-color: #b51263;
  border-color: #b51263;
}

.section-limpar-nome {
  padding-top: 40px;
  padding-bottom: 50px;
}

.passo-lno {
  background-image: url("../img/passo-passo-lno.png") no-repeat center center;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 575px) {
  #device-screen {
    background-image: url(../img/i-phone@3x.png);
    background-size: 267px 485px;
    width: 320px;
    height: 252px;
    background-repeat: no-repeat;
    background-position: 28px 0px;
  }
}

@media (max-width: 575px) {
  #device-screen #iphone-screen {
    width: 258px;
    height: auto;
  }
}

.step-by-step {
  width: 277px;
  height: 320px;
  border-radius: 15px;
  background-color: #fff;
  padding: 25px;
  -webkit-box-shadow: -1px 12px 21px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 12px 21px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 12px 21px -1px rgba(0, 0, 0, 0.75);
}

.step-by-step ol {
  list-style: none;
  counter-reset: step-counter;
  padding: 0;
}

.step-by-step li {
  counter-increment: step-counter;
  margin-bottom: 15px;
}

.step-by-step .hint img {
  width: 223px;
}

.step-by-step li::before {
  content: counter(step-counter);
  background-color: #2e76e3;
  margin-right: 5px;
  border-radius: 100px 100px;
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 7px 12px 7px 12px;
}

@media (max-width: 575px) {
  .step-by-step {
    display: inline-block;
    height: 523px;
  }
}

.div-logo-ecred {
  border: none;
  border-left: 3px solid  #00af7d;
}

.txt-ecred {
  font-size: 15px;
  font-weight: 320;
  line-height: normal;
  text-align: left;
  color: #414042;
}

.div-ecred input {
  border: none;
}

.divDepoimento {
  min-height: 150px;
  box-shadow: 0px 5px 35px 0 rgba(35, 29, 40, 0.05);
  border-radius: 15px;
  border: none;
  background-image: url("../img/fundo-testemunho.png") no-repeat center center;
}

@media (min-width: 768px) {
  /*header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }*/
}

.sub-titulo-serasa-ensina {
  font-size: 20.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.section-serasa-ensina {
  background-image: linear-gradient(130deg, #ba2f7d, #cc2b85);
  background-color: #cc2b85;
}

/*footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}*/
/* footer */
#local-footer .newsletter-social {
  margin-top: 20px;
}

#local-footer .newsletter form .btn {
  height: 42px;
  margin-top: 0;
  text-transform: uppercase;
}

#local-footer h5 {
  color: #26478d;
  font-weight: 300;
  font-size: 1.125em;
}

#local-footer ul {
  list-style: none;
  padding-left: 0;
}

#local-footer ul > li {
  padding: 5px 0;
}

#local-footer ul > li > a {
  color: #575755;
}

#local-footer ul.social-media > li > a {
  color: #fff;
}

#local-footer, #global-footer, .footer-address, #global-disclosure {
  color: #575755;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5625;
}

#local-footer h5 {
  color: #26478d;
  font-size: 1.125em;
}

footer hr.gradient-bar {
  height: 3px;
  background: #ba2f7d;
  margin-top: 0;
  background: linear-gradient(to right, #ba2f7d 0%, #26478d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba2f7d', endColorstr='#26478d', GradientType=1);
  margin-bottom: 25px;
}

#local-footer ul.social-media {
  margin-top: 6px;
}

#local-footer ul {
  list-style: none;
  padding-left: 0;
}

#local-footer ul {
  list-style: none;
  padding-left: 0;
}
