


  .btn-central { 
    border-radius: 16.5px;
    background-color: #fff;
    border: solid 1.8px #406eb3;
    color: #406eb3; 
  }
  
  .btn-central:hover { 
    border-radius: 16.5px;
    background-color: #fff;
    border: solid 1.8px #406eb3;
    color: #406eb3; 
  }
  
  .btn-atendimento {
     
    border-radius: 16.5px;
    background-color: #fff;
    border: solid 1.8px #406eb3; 
    color: #406eb3; 
  }
  
  .btn-atendimento:hover {
    border-radius: 16.5px;
    background-color: #fff;
    border: solid 1.8px #406eb3; 
    color: #406eb3; 
  }


  .btn-ecred {
    border-radius: 14px;
    color: #fff;
    background-color: #00af7d;
    border-color: #00af7d;;
  }
  
  .btn-ecred:hover {
    color: #fff;
    background-color: #00855D;
    border-color: #00855D;
  }