/*footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}*/



  /* footer */
  
  #local-footer .newsletter-social {
    margin-top: 20px;
  }
  
  #local-footer .newsletter form .btn {
    height: 42px;
    margin-top: 0;
    text-transform: uppercase;
  }
  
  #local-footer h5 {
    color: #26478d;
    font-weight: 300;
    font-size: 1.125em
  }
  
  #local-footer ul {
    list-style: none;
    padding-left: 0
  }
  
  #local-footer ul>li {
    padding: 5px 0
  }
  
  #local-footer ul>li>a {
    color: #575755
  }
  
  #local-footer ul.social-media>li>a {
    color: #fff
  }
  
  #local-footer,#global-footer,.footer-address,#global-disclosure {
    color: #575755;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5625
  }
  
  #local-footer h5 {
    color: #26478d;
    font-size: 1.125em
  }


  
  footer hr.gradient-bar {
    height: 3px;
    background: #ba2f7d;
    margin-top: 0;
    background: linear-gradient(to right, #ba2f7d 0%,#26478d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba2f7d', endColorstr='#26478d', GradientType=1);
    margin-bottom: 25px;
  }
  
  
  #local-footer ul.social-media {
    margin-top: 6px;
  }
  
  #local-footer ul {
    list-style: none;
    padding-left: 0;
  } 
  
  

  #local-footer ul {
    list-style: none;
    padding-left: 0;
  }   
  
  