 
header.lno { 
  @include background-cover ;
  padding: 4rem 0;
  width: 1920px;
  height: 466px;
  background-image: linear-gradient(to top, #006ab2, #416eb3);

  border-radius: 0 0 100% 100%;
  width: 130%;
  -webkit-transform: translate(-12%,0);
  transform: translate(-12%,0);
  background-size: cover;
  background-repeat: no-repeat;

  .header-title {
    @media #{$mq-mobile-xs} {
      text-align: left;
      padding: 0 61px;
    }
  }

  a{
    @include botao-ver-oferta;
  }

  @media #{$mq-mobile-xs} {
    height: 610px;
  }

  @media #{$mq-mobile} {
    position: static;
  }
}

.titulo { 
  font-size: 29px;
  font-weight: 700;
}

.subTitulo{ 
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.68;
  letter-spacing: normal; 
  color: #ffffff;
  padding-top: 10px;
}

.cpf-form {

  .cpf-cta {
    @media #{$mq-mobile-xs} {
      width: 100%;
      margin-top: 20px;
    }

    a.btn {
      @media #{$mq-mobile-xs} {
        width: 100%;
      }
    }
  }

  @media #{$mq-mobile-xs} {
    margin-top: 20px;
  }
}

.divCpf{
  padding: 20px; 
  border-radius: 15px;

  input{
    border:none; 
  }
}

.discount-price {
  text-transform: uppercase;

  @media #{$mq-mobile-xs} {
    font-size: .7em;
    padding: 0 35px;
  }
}

.lbl-desconto{
  font-weight: 900;
  line-height: 0.88;
  color: #f4d337;

  @media #{$mq-mobile-xs} {
    font-size: 2.5em;
  }
}

.info-desconto { 
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 55px;
  margin-top: 10px;
}