// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin botao-arredondado { 
  border-radius: 16.6px; 
}


@mixin botao-ver-oferta{
  color:$white;
  background-color: $botao-ver-oferta;
  border-color: $botao-ver-oferta;
  @include botao-arredondado; 
  &:hover {
    color: $white;
    background-color: $botao-ver-oferta-hover;
    border-color:  $botao-ver-oferta-hover;
  }
}

