.section-limpar-nome{
  padding-top: 40px;
  padding-bottom: 50px;
}

.passo-lno{
  background-image: url("../img/passo-passo-lno.png") no-repeat center center;
  height: 500px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;
}

#device-screen {
  @media #{$mq-mobile-xs} {
    background-image: url(../img/i-phone@3x.png);
    background-size: 267px 485px;
    width: 320px;
    height: 252px;
    background-repeat: no-repeat;
    background-position: 28px 0px;
  }

  #iphone-screen {
    @media #{$mq-mobile-xs} {
      width: 258px;
      height: auto;
    }
  }
}

.step-by-step {
  width: 277px;
  height: 320px;
  border-radius: 15px;
  background-color: #{$white};
  padding: 25px;

  -webkit-box-shadow: -1px 12px 21px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 12px 21px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 12px 21px -1px rgba(0,0,0,0.75);

  ol {
    list-style: none;
    counter-reset: step-counter;
    padding: 0;
  }

  li {
    counter-increment: step-counter;
    margin-bottom: 15px;
  }

  .hint {
    img {
      width: 223px;
    }
  }

  li::before {
    content: counter(step-counter);
    background-color: #2e76e3;
    margin-right: 5px;
    border-radius: 100px 100px;
    color: #fff;
    width: 50px;
    height: 50px;
    padding: 7px 12px 7px 12px;
  }

  @media #{$mq-mobile-xs} {
    display: inline-block;
    height: 523px;
  }
}

.div-logo-ecred{
  border: none;
  border-left: 3px solid  #00af7d;
}

.txt-ecred{ 
  font-size: 15px;
  font-weight: 320;
  line-height: normal; 
  text-align: left;
  color: #414042;
}

.div-ecred input{ 
  border:none;
}