
.sub-titulo-serasa-ensina{
  font-size: 20.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.section-serasa-ensina{
  background-image: linear-gradient(130deg, #ba2f7d, #cc2b85);
  background-color:  #cc2b85;
}