
.titulo-empresa{
    font-size: 25.5px; 
    color: #7D7D81;
    margin-bottom: 25px; 

}

.divEmpresa{
  background-color: #ffffff;
  box-shadow: 0px 5px 35px 0 rgba(35, 29, 40, 0.05);
  border-radius: 15px;
  border: none;
  border-bottom: 5px solid #416eb3;
  width: 255px;
  height: 229px;
  
  @media #{$mq-mobile-xs} {
    margin-top: 15px;
  }

  @media #{$mq-mobile}{
    width: 127px;
    height: 123px;
  }
}

.info-section-empresa{
  font-size: 10px;
  color: rgba(65, 64, 66, 0.7);
}

.section-empresa {
  padding-top: 40px;
  padding-bottom: 50px;
  .row a{
    @include botao-ver-oferta;
  }
}