.divDepoimento{ 
    min-height: 150px; 
    box-shadow: 0px 5px 35px 0 rgba(35, 29, 40, 0.05);
    border-radius: 15px;
    border: none;
    background-image:  url("../img/fundo-testemunho.png") no-repeat center center;
    
  }
  @media (min-width: 768px) {
    /*header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }*/
  }