// cores botoes
$botao-ver-oferta: #cc1470;
$botao-ver-oferta-hover: darken($botao-ver-oferta,5);

$botao-ecred: #cc1470;
$botao-ecred-hover: darken(#cc1470,50);

// Media Queries
$mq-mobile-xs: (max-width: 575px);
$mq-mobile-sm: (max-width: 767px);
$mq-mobile-md: (max-width: 991px);
$mq-mobile-lg: (max-width: 1199px);
$mq-mobile-xl: (max-width: 1920px);
$mq-mobile: (max-width: 970px);

// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;